body {
  font-family: sans-serif;
  background: linear-gradient(to right, #677ce7, #724da4);
  align-items: center;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 0;
}
.title {
  color: #2980b9;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.title::before {
  content: "";
  width: 16px;
  height: 8px;
  border-left: 4px solid #2980b9;
  border-bottom: 4px solid #2980b9;
  transform: rotate(-45deg);
}
.subtitle {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: #666;
  margin-bottom: 1.5rem;
  margin-top: 0.2rem;
}
.task-controls {
  margin: 1rem;
}
.container {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.input-container {
  border-radius: 5px;
}

.icon {
  position: absolute;
  transform: translateY(35%);
  margin-left: 0.5rem;
}
.search-input {
  padding-left: 2rem;
  height: 30px;
  border-radius: 7px;
  outline: none;
  border: solid 1.5px gainsboro;
}

/* When input loses focus */
.search-input:not(:focus),
.new-task:not(:focus) {
  transition: all 0.3s ease-out;
  box-shadow: none;
}

.filter-tasks:focus ,.search-input:focus,
#new-task:focus {
  border-color: #2980b9;
  box-shadow: 0 0 8px rgba(41, 128, 185, 0.5);
}

.filter-tasks {
  padding: 8px;
  border-radius: 7px;
  margin-right: 0.5rem;
  border: 1.5px solid gainsboro;
}  
.clear-btn {
  padding: 8px 1rem;
  background: red;
  color: white;
  border: none;
  border-radius: 7px;
}
.clear-btn:hover {
  background-color: #ff4747; /* Lighter red on hover */
  transform: scale(1.05); /* Slightly increase the button size for effect */
  cursor: pointer; /* Shows a pointer cursor when hovering */
  transition: background-color 0.3s, transform 0.2s ease; /* Smooth transition */
}
.clear-btn:not(:hover) {
  transition: background-color 0.5s, transform 0.2s ease;
}

.add-container {
  display: flex;
  margin: 1rem;
}

.new-task {
  flex: 1;
  padding: 10px;
  margin-right: 0.5rem;
  border: 1.5px solid gainsboro;
  border-radius: 7px;
  outline: none;
}


.add-task {
  padding: 10px;
  background: #90ee90;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}
.empty-tasks {
  display: flex;
  flex-direction: column; /* Stack children (icon + text) on top of each other */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  background: rgba(200, 200, 200, 0.2);
  border-radius: 10px;
  margin: 1rem;
  max-height:15rem;
  padding: 4rem;
}

.empty-icon {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.empty-text {
  font-size: 12px;
  color: #666;
  display: flex;
  justify-content: center;
}

#task-list {
  background-color: ghostwhite;
  margin: 1rem;
  border-radius: 6px;
  padding: 1em;
  max-height: 200px; /* Set a max-height for scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  display: flex;
  flex-direction: column;
  
}

.task-label{
  padding-left: 0.5rem;
}
 

.editInput{
  padding: 0.5rem 5px !important;
  border-radius: 6px !important;
  border: #2980b9 1.5px solid;
  box-shadow: 0 0 1px #2980b9;
  margin-left: 1em;
  margin-right: 0;
  width:100%
}
.editInput:focus,
.editInput:active{
  border: solid 1px #2980b9;
}
.editBtn,
.delete-button{
  padding: 0.5em 1em;
}
.save-button{
  padding: 1em;
  margin-left: 1em;
}
.cancel-button{
  padding: 1em;
}